<div class="wrap">

<div class="stickback"></div>
<div class2="sticktwo"></div>
  <div class="calnav">
    <div class="calimgwrap">
      <div class="calimginner">
      <a href="/">  <%= image_tag("callogo.jpg")%></a>
      </div>
    </div>
  </div>
  <div class="callist">
    <div class="callistwrap">
    <ul>
      <li class="pickone">Meal Prep</li>
      <li class="norightpad picktwo">Catering</li>
      <li class="pickthree"><div class="twologo"><%= image_tag("caltwologo.jpg")%></div></li>
      <li class="noleftpad pickfour">Personal Chef</li>
     <li class="pickfive">Contact</li>
    </ul>
  </div>
  </div>
  <div class="fdmid">
    <div class="fdmidcontain">
    <div class="fduppertext">
      <h3>Fresh and Delicious Food Prepared Specially For You</h3>
    </div>
    <div class="fdlowertext"><h5>Meal Prep | Catering | Personal Chef</h5></div>
    </div>
  </div>

  <div class="chinback">
  <div class="chintitle">
    <div class="chintitlecontain">
    <div class="chintitleupper blcc">
    <h3>
      <a href="/mealprep">MEAL PREP</a>
    </h3>
    <p class="italic gray pmarg">Contact to order (50% non refundable security deposit) </p>
    </div>
    <div class="chintitlelower blcc">
      <div class="ctlwrap">
       <h5>EACH WEEKLY MEAL PLAN HAS A MINIMUM OF 5 MEALS , OF WHICH YOU CAN PICK 1 OR A COMBINATION OF 2 DISH OPTIONS (PLEASE IDENTIFY ANY ALLERGIES). <span class="redd">MINIMUM OF 4 DAYS NOTICE.</span></h5>
         <p class="greenb">$12.50/MEAL (Modifications subject to price adjustement)</p>
         <p>Featuring NEW Meal Prep Options: Beef Ragu with creamy Polenta and Beef Meatballs with Pasta. <span class="green">Vegetarian options available upon request.</span></p>
     </div>
    </div>
    </div>
  </div>

<div class="chinwrap">
      <div class="chinlistwrap">
      <ul>
        <li>
          <div class="chinitem onehov"><div class="chinsq one"></div>
          <div class="chinbot"><p class="chinbotp">Soy glazed salmon</p>
            <p class="hvrp" id="hvrp">(choice of green beans, broccoli or carrots and rice or potatoes)</p>
          </div>
        </div>
      </li>
        <li>
          <div class="chinitem twohov"><div class="chinsq two"></div>
          <div class="chinbot"><p class="chinbotp">South west bowl</p>
             <p class="hvrp" id="hvrptwo">(choice of chicken/shrimp/ground beef and rice or salad)</p>
          </div>
        </div>
        </li>
        <li>
          <div class="chinitem threehov"><div class="chinsq three"></div>
          <div class="chinbot"><p class="chinbotp">Mediterranean Bowl</p>
            <p class="hvrp" id="hvrpthr">(choice of chicken/shrimp/ground beef and rice or salad)</p>
          </div>
        </div>
      </li>
        <li>
          <div class="chinitem fourhov"><div class="chinsq four"></div>
          <div class="chinbot"><p class="chinbotp">Lemon Honey Chili Pepper glazed chicken</p>
            <p class="hvrp" id="hvrpfou">(choice of green beans, broccoli or carrots and rice or potatoes)</p>
          </div>
        </div>
      </li>
        <li>
          <div class="chinitem fivehov"><div class="chinsq five"></div>
          <div class="chinbot"><p class="chinbotp">Flank steak with Chimichurri</p>
            <p class="hvrp" id="hvrpfiv">(choice of green beans, broccoli or carrots and rice or potatoes)</p>
          </div>
        </div>
      </li>
        <li>
          <div class="chinitem sixhov"><div class="chinsq six"></div>
          <div class="chinbot"><p class="chinbotp">Asian Bowl</p>
            <p class="hvrp" id="hvrpsix">(choice of chicken or shrimp and rice or salad)</p>
          </div>
        </div>
      </li>
      </ul>
    </div>
    </div>
  </div>


<div class="faceback grad">
  <div class="facecontainwrap">
  <div class="facecontain">
  <div class="facetitle"><h3 class="whii"><a href="/catering">Catering</a></h3></div>
  <div class="facetitletwo">
    <div class="fttwrap">

      <p class="italic lightgray pmarg">Contact to order (50% non refundable security deposit) </p>
    <h5>Please mention any allergies and inquire about an substitutions of ingredients. <span class="redd">Please give a minimum of 2 weeks notice.</span></h5>
<h5>Some options include but do not limit to:</h5>
</div>
  </div>
 </div>
 </div>
 <div class="twobyo">
   <div class="byocontain">
   <div class="byoone">
     <div class="byoinner">
       <h3>Main</h3>
       <p>Beef/Vegetarian Lasagna</p>
       <p>-</p>
       <p>Cheesy Creamy Pasta</p>
       <p>-</p>
       <p>Chicken WIngs <span class="thnt">(Turkish style, Buffalo, Garlic Parmesan, BBQ and more)</span></p>
       <p>-</p>
       <p>Roasted Beef Eye Round</p>
       <p>-</p>
       <p>Vegetarian, Shrimp, Beef, Or Chicken Fried Rice/Lo Mein</p>
       <p>-</p>
       <p>Pan Seared Salmon</p>
     </div>
   </div>
   <div class="byotwo">
     <div class="byoinner">
       <h3>Sides</h3>
       <p>Mashed Potatoes</p>
       <p>-</p>
       <p>Macaroni and Cheese</p>
       <p>-</p>
       <p>Roasted Vegetables</p>
       <p>-</p>
       <p>White or Brown Rice</p>
     </div>
   </div>
   </div>
 </div>
 <div class="byobot">
   <div class="byobotbox">
     <div class="logocal"><%= image_tag("smlogo.png")%></div>
     <p>Pricing starts from $75 to feed approximately 5 People with one main course and a selection of side and salad</p>
   </div>
 </div>
</div>

<div id="desback">
  <div class="facecontainwrap">
  <div class="facecontain">
  <div class="facetitle blcc"><h3><a href="/presonalchef">Personal Chef</a></h3></div>

  <div class="facetitletwo blcc">
    <p class="italic gray pmarg">Contact to order (50% non refundable security deposit)</p>
    <h5>Pricing varies, please contact for consultation. <span class="redd">Please give a minimum of 2 weeks notice.</span></h5>
  </div>
 </div>
 </div>
  <div class="destextone">
    <div class="descontain">
    <div class="destwo">
      <p>Hire a personal chef for any special occasion </p>
      <p>In home or on site service (parties, gatherings, celebrations and more!!)</p>
      <p>Venues with full kitchens</p>
      <div class="desoneimg boxs"><div class="desonein"></div></div>
      <div class="desnextimg boxs"><div class="desnextin"></div></div>
    </div>
    <div class="destwo">

      <div class="destwoimg boxs"><div class="destwoin"></div></div>
      <div class="desthreeimg boxs"><div class="desthreein"></div></div>
    </div>
    </div>
  </div>
</div>

<div class="cbaback">
  <div class="facecontainwrap cbaheight">
  <div class="facecontain">
  <div class="facetitletwo blcc margnon">
    <h3><a href="/about">ABOUT THE CHEF</a></h3>
    <div class="fttwrap margo">
    <h5>Scroll down for booking form</h5>
    </div>
  </div>
 </div>
 </div>


 <div class="cbacontain">
 <div class="cbatwo">
   <div class="atextwrap">
    <div class="cbaoneimg"></div>
</div>
  <p class="cbatwop">Having recovered from cancer at a young age,
    Ayman hadn’t fully regained his taste palate until several years later.
    Through the years and while exploring several cuisines, learning from countless
    cooking shows and following his favorite Chefs: Emeril, Gordon, and his culinary teachers, Ayman discovered a newly found appreciation for taste, and more importantly, grew his curiosity of cooking and creating these flavors. He pursued his passion further and worked at some top notch restaurants in the DMV area learning different styles and techniques and now owns his own catering business while continuing to work in the restaurant industry.
    <br>
    <br>
    He values and gives credit to his high school Chef and culinary instructor as well as his special Chef mentors and colleagues from working in the field who have taught him not only cooking techniques and skills but how to carry oneself in the kitchen, have kitchen awareness and most of all love what you do.
    These events have compelled him to enjoy the craft of cooking, owing gratitude for being able to taste endless combinations of spices and herbs.
    <br>
    <br>
    </p>
    <div class="ltwrap">
     <div class="ltextwrap">
     <div class="cbatwoimg"></div>
 </div>
<div class="flwrap">
 <p class="cbatwop">
     The kitchen (whether mine or yours) is where I look forward to preparing every meal with creativity and precision, bringing a little bit of inspiration and happiness to every one of you.  If you keep a clean diet, your taste buds will be sensitive to the depth of flavor that I bring to your table. Your keen senses will be heightened with a wide range of texture, smell and flavor. If you’re ready for this experience, then look no further.

     <br>
     <br>
    If you live in the DMV area, let Ayman know how he can help you break bread with your family and loved ones, or stay on top of your health and fitness by subscribing to his meal prep program.

  </p>


  </div>
    </div>
</div>
 </div>


</div>


<div class="contactform">
  <div class="contactlimit">

  <div class="inqhead pbb">
    Complete the form below to order.
  </div>
  <div class="inqtext">
    Fill in your details and we will contact you.
  </div>

  <div class="contactformwrap">
    <%= form_with(model: @inquiry, local: true) do |form| %>
    <div class="conthalf">
    <div class="contholder">
    <%= form.text_field :name, class: "contforminput", placeholder: "Your Name*", required: "required" %>
    </div>
    </div><div class="conthalf">
    <div class="contholder">
    <%= form.telephone_field :phone, class: "contforminput", placeholder: "Phone Number", required: "required" %>
    </div>
    </div>
  </div>
  <button type="submit" class="inqbtn">
      <i class="far fa-file-alt"></i> &nbsp;&nbsp;SUBMIT
  </button>
  <% end %>

  </div>
</div>




<div class="cfoot">
  <div class="cfootupperhold">
  <div class="cfootupper">
    <div class="cfootleft controlp">
      <p>chef@calorfood.com</p>
      <span>*Halal</span>
    </div>
    <div class="cfootright controlp">
      <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;DMV Area</p>
      <span class="biggersocial"><a href="https://instagram.com/calorfood/"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.tiktok.com/@chefcalor"><i class="fab fa-tiktok"></i></a></span>
    </div>
    </div>
  </div>
<p>Calor Food, LLC. "Fresh and Tasteful Creations"</p>
</div>
















  </div>
<script>


</script>
